.payment-card {
  display: block;
  padding: 30px;
  // min-width: 400px;
  // max-width: 460px;
  width: 455px;
  height: 250px;
  // background: linear-gradient(-125deg, #1D3349, #06121E 55%);
  background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
  border: none;
}